<body>

    <div class="words">

        <h1>Welcome to Unisafe!</h1>

        <p>In a world that should be free from fear and<br>
        violence, we recognize the urgent need for a<br>
        platform that empowers individuals to speak out,<br>
        report incidents, and collectively contribute to a<br>
        safer and more just society.</p>

        <p class="p2">Empowering Voices Against Gender-Based Violence<br>
        <a href="/signup">Join us Today</a></p>

    </div>

    <div class="picture">
        <img src="../../assets/media/beth-hope.jpg" alt="" />
    </div>

</body>