<body>
    <div class="top"></div>
    <div class="main">
        <img class="topimg" src="../../assets/media/UDSM.jpg" alt="">
        <div>
            <div class="notalon">
                <h3>You Are Not Alone...</h3>
                <p>Welcome to our counselling services, 
                    a safe space where your journey towards
                    healing begins.<br >
                    We understand the courage it takes to seek
                    support, and we’re here to offer compassionate 
                    guidance as you navigate your healing process.<br >
                    
                    Our dedicated team is committed to 
                    providing you with confidential,
                    non-judgmental support tailored to your needs.
                    Please feel free to schedule a meeting
                     at your convenience.</p>
            </div>
        </div>
    </div>
    <div class="main2"></div>
    <div class="main"></div>
</body>