body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  z-index: 5;
  margin-top: 7.5vh;
  position: fixed;
  height: 6vh;
  width: 100%;
  background-color: rgba(0, 69, 118, 0.296);
  backdrop-filter: blur(5px);
}
.topimg {
  height: 35vh;
  width: 100%;
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
}
.afterimg {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.ai-trigger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(15, 108, 191, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 50;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ai-trigger:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.ai-trigger img {
  height: 55%;
  width: 55%;
  transition: transform 0.3s ease;
}
.ai-trigger:hover img {
  transform: scale(1.2);
}
.aichat {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  position: fixed;
  align-self: flex-end;
  top: 8vh;
  right: 8vw;
  background-color: rgba(15, 108, 191, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  height: 90vh;
  width: 30vw;
  z-index: 50;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aichat.show {
  display: flex;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 50;
}
.chatboard {
  height: 85%;
  width: 100%;
  align-self: flex-end;
  background-color: rgba(255, 255, 255);
  box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.input-area {
  height: 15%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top: 0.5px solid rgb(55, 55, 55);
}
.input-area textarea {
  height: 50%;
  width: 85%;
  padding: 10px;
  font-size: 12.5px;
  resize: vertical;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  /* border: none; */
  border-radius: 10px;
}
.input-area img {
  height: 30%;
  width: 8%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.input-area:hover img {
  transform: scale(1.2);
}
.messages {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  /* background-color: red; */
}

.message {
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  max-width: 70%;
  word-wrap: break-word;
}

.message-sender {
  /* max-width: 30%; */
  max-width: fit-content;
  background-color: #007bff;
  align-self: flex-end;
  margin-right: 10px;
  text-align: right;
}

.message-ai {
  background-color: #e0e0e0;
  align-self: flex-start;
  margin-left: 10px;
  text-align: left;
  max-width: fit-content;
}

/* .hide {
  display: none;
} */
.ai-label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
  opacity: 1;
  font-size: 100px;
  visibility: visible;
  z-index: 7;
}

.ai-label.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s;
}
.notalon {
  height: 100%;
  width: 60%;
  background: linear-gradient(to bottom right, #0f6cbf, #ffffff);
  display: flex;
}
.left {
  height: 100%;
  width: 45%;
  position: relative;
  display: flex;
}
.right {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
}
.timg {
  height: 70%;
  width: 120%;
  background-size: cover;
  background-position: center;
  position: absolute;
  align-self: center;
  margin-left: -30%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.horizontal-line {
  height: 90%;
  align-self: center;
  border-left: 2px solid #0f6cbf;
}
.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message h1 {
  font-size: 40px;
  text-align: start;
  margin-left: 10%;
  max-width: 80%;
}
.message p {
  font-size: 20px;
  text-align: start;
  margin-left: 10%;
  max-width: 80%;
}
.main2 {
  height: auto;
  width: 100%;
  margin-top: 100vh;
  z-index: 4;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.book {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.bookhead {
  height: 15%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f6cbf;
  color: white;
}
.bookmain {
  flex: 1;
  width: 100%;
  background: linear-gradient(to bottom right, #ffffff, #0f6cbf);
  display: flex;
  align-items: center;
}
.bookleft {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bookleft h2 {
  font-size: 40px;
  text-align: start;
  margin-left: 20%;
  max-width: 90%;
}
.bookleft p {
  font-size: 25px;
  text-align: start;
  margin-left: 20%;
  max-width: 80%;
}
.bookright {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookright h2 {
  font-weight: bold;
}
.card {
  height: 90%;
  width: 75%;
  margin-right: 10%;
  background-color: #f0f8ff;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
}
.card form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card form .container {
  height: 12%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card form .container input {
  height: 65%;
  width: 45%;
  padding: 15px;
  font-size: 15px;
}
.conditions {
  justify-self: center;
  width: 100%;
  position: sticky;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 15px;
}

.card form .one {
  margin-top: 2.5%;
}
/* .card form .two{
} */
.card form .three {
  align-items: center;
}
.card form .three input {
  width: 100%;
}
.card form .four {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.card form .four .left {
  width: 50%;
  flex-direction: column;
}
.card form .four .left input {
  width: 90%;
  padding: 0;
  padding: 15px;
}
.card form .four .right {
  width: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.card form .four .right select {
  height: 65%;
  width: 90%;
  font-size: 15px;
  padding: 10px;
  justify-self: flex-end;
  align-self: flex-end;
}
.card form .four .right p {
  font-size: 17px;
  font-weight: 600;
  margin-left: 10%;
}
.datetimep {
  font-size: 17px;
  font-weight: 600;
}
.five {
  margin-top: 1vw;
  width: 100%;
  margin-left: 20%;
  font-size: 17px;
  line-height: 3vh;
  padding: 15px;
}
.five p {
  font-weight: 600;
}
.five input {
  margin-left: 5%;
}
.five label {
  margin-left: 15px;
}
button {
  margin-top: 3vh;
  height: 5vh;
  width: 6vw;
  justify-self: center;
  align-self: center;
  font-size: 1vw;
  color: white;
  background-color: #0f6cbf;
  border-radius: 5vw;
  cursor: pointer;
  border: 0.5px solid black;
  transition: transform 0.5s;
}
button:hover {
  transform: scale(1.05);
  font-weight: bold;
}
.appointments {
  z-index: 4;
  height: auto;
  width: 100%;
  position: sticky;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appointments .head {
  height: 7.5vh;
  width: 100%;
  background-color: #0f6cbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head {
  height: 7.5vh;
  width: 100%;
  background-color: #0f6cbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head span {
  border-top: 5px solid #ffffff;
  width: 15vw;
  margin-bottom: 1vh;
  margin-left: 10vw;
}
.head h2 {
  color: #ffffff;
  margin-left: 10vw;
  font-size: 1.2vw;
}
.reports {
  flex-grow: 1;
  width: 80%;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
}
.selection {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.butns {
  height: 100%;
  width: 60%;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.butns button {
  height: 3.25vh;
  width: 4vw;
  margin: 0;
  position: sticky;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-size: 0.6vw;
  cursor: pointer;
  border: 0.5px solid black;
  border-radius: 50vw;
  transition: transform 0.5s;
}
.butns button:hover {
  font-weight: bold;
  background-color: #0f6cbf;
  color: #ffffff;
  transform: scale(1.05);
}
.butns button.active {
  background-color: #0f6cbf;
  color: #ffffff;
}
.cardt {
  height: auto;
  width: 100%;
  margin-right: 10%;
  background-color: #f0f8ff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardt table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.cardt table th,
.cardt table td {
  padding: 12px 15px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.cardt table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.cardt table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cardt table tbody tr {
  transition: transform 0.5s;
}

.cardt table tbody tr:hover {
  background-color: #0f6cbf;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
