<body>

    <div class="top">

            <div class="left">
                <img src="../../assets/media/Unisafe-logo.png" alt="UniSafe logo" />
            </div>

            <div class="mid">
                <p class="tophead">CONTACT US</p>
                <span></span>
                <!-- <br class="brf"> -->
                <p>If you have any inquiries regarding the reporting<br>
                portal, you may reach us through:</p>

                <div>
                    <p class="heads"><b>Postal Address:</b></p>
                    <p class="data">35091<br>
                    Dar es Salaam, Tanzania</p>
                </div>

                <div>
                    <p class="heads"><b>Call us:</b></p>
                    <P class="data">+255222410637</P>
                </div>

                
                <div>
                    <p class="heads"><b>Email:</b></p>
                    <P class="data">igs&#64;udsm.ac.tz,<br>
                        gdpc&#64;uccmail.co.tz</P>
                    </div>
                    
                <!-- <div>
                    <p class="heads"><b>Visit us:</b></p>
                    <P class="data">University of Dar es Salaam<br>
                    Mlimani Campus, Dar es Salaam, Tanzania</P>
                </div> -->
            </div>

            <div class="mid">
                <p class="tophead">GET UniSafe App</p>
                <span></span>
                <!-- <br class="brf"> -->
                <p>UniSafe is now available for Mobiles! Download UniSafe<br>
                today and join us in the fight against Gender-Based<br>
                Violence on campuses.</p>

                <div class="getmock">
                    <!-- <img class="mockup" src="../../assets/media/mockuper.png" alt="UniSafe Mockup"> -->
                    <img class="mockup" src="../../assets/media/mockup.png" alt="UniSafe Mockup">
    
                    <!-- <a href="https://play.google.com/store/apps/details?id=your.app.package.name" target="_blank">
                        <img class="getit" src="../../assets/media/getit.png" alt="Install UniSafe">
                    </a> -->
                </div>

            </div> 
        </div>
        <hr class="hr">
        <p class="rights">© 2024 Unisafe. All rights reserved. </p>
</body>