<body>

    <div class="top">

            <div class="left">
                <img src="../../assets/media/Unisafe-logo.png" alt="UniSafe logo" />
            </div>

            <div class="mid">
                <p class="tophead">CONTACT US</p>
                <span></span>
                <p>If you have any inquiries regarding the reporting<br>
                portal, you may reach us through:</p>

                <p class="heads"><b>Postal Address:</b></p>
                <p>35091<br>
                Dar es Salaam, Tanzania</p>

                <p class="heads"><b>Call us:</b></p>
                <P>+255222410637</P>

                <p class="heads"><b>Email:</b></p>
                <P>igs&#64;udsm.ac.tz,<br>
                gdpc&#64;uccmail.co.tz</P>

            </div>

            <div class="mid">
                <p class="tophead">GET UniSafe App</p>
                <span></span>
                <p>UniSafe is now available on the Google Play Store!<br>
                Download UniSafe today and join us in the fight<br>
                against Gender-Based Violence on campuses.</p>

                <div class="getmock">
                    <img class="mockup" src="../../assets/media/Mockup.png" alt="UniSafe Mockup">
    
                    <a href="https://play.google.com/store/apps/details?id=your.app.package.name" target="_blank">
                        <img class="getit" src="../../assets/media/getit.png" alt="Install UniSafe">
                      </a>
                </div>

            </div>

    </div>

    <div class="bottom">
        <hr>
        <p>© 2024 Unisafe. All rights reserved. </p>
    </div>
</body>