<body>
  <div class="top-bar">
    <div class="icon-container">
      <button class="icon-button" (click)="toggleMic()">
        <i
          class="fa-solid"
          [ngClass]="{ 'fa-microphone': !micOn, 'fa-microphone-slash': micOn }"
        ></i>
      </button>
    </div>

    <div class="icon-container">
      <button class="icon-button" (click)="toggleWebcam()">
        <i
          class="fas"
          [ngClass]="{ 'fa-video': !camOn, 'fa-video-slash': camOn }"
        ></i>
      </button>
    </div>

    <div class="leave-container">
      <button class="leavebtn" (click)="leave()">Leave Meeting</button>
    </div>
  </div>
</body>
