<body>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>
    <div class="left">
        <div class="menu-icon" (click)="openMenu()">
            <i class={{menu_icon}} style="cursor: pointer;"></i>
        </div>
        <div class="mobile-menu" [class.mobile-menu-active]="menuValue">
            <ul>
                <li (click)="closeMenu()" routerLink="/home">Home</li>
                <!-- <li (click)="closeMenu()" routerLink="/about">About</li> -->
                <li (click)="closeMenu()" style="color: red; font-weight: bold; "routerLink="/report">Report a GBV</li>
                <li (click)="closeMenu()" routerLink="/genderdesk">GenderDesk</li>
                <li (click)="closeMenu()" routerLink="/counselling">Seek Counsel</li>
                <li (click)="closeMenu(); scrollToFooter()">Contact us</li>
                <li (click)="closeMenu()" routerLink="/profile" *ngIf="authenticated">Profile</li>
                <li (click)="closeMenu()" routerLink="/login" *ngIf="authenticated" (click)="logout()">Logout</li>
                <li (click)="closeMenu()" routerLink="/login" *ngIf="!authenticated">Login</li>
                <li (click)="closeMenu()" routerLink="/signup" *ngIf="!authenticated">Signup</li>
            </ul>
        </div>
    </div>
    
    <div class="mid">
        <button class="links" routerLink="/home">Home</button>
        <!-- <button class="links" routerLink="/about">About</button> -->
        <button class="links" style="color: red; font-weight: bold;"routerLink="/report">Report a GBV</button>
        <button class="links" routerLink="/genderdesk">GenderDesk</button>
        <button class="links" routerLink="/counselling">Seek Counsel</button>
        <button class="links" (click)="scrollToFooter()">Contact us</button>
    </div>
    
    <div class="right" *ngIf="!authenticated">
        <button class="login" style="margin-right: 0.2vw;"routerLink="/login">Login</button>
        <button class="signup" style="background-color: #0F6CBF; color: white; margin-left: 0.2vw;"routerLink="/signup">Sign up</button>
    </div>

    <div class="right" *ngIf="authenticated">
        <div class="auth">
            <div class="profile" (mouseenter)="toggleprofOpt(true)" (mouseleave)="toggleprofOpt(false)">
                <i class="fas fa-user"></i>
            </div>
        </div>
        <div class="profopt"  *ngIf="profOpt || isHovered" (mouseenter)="toggleprofOpt(true)" (mouseleave)="toggleprofOpt(false)">
            <i class="fas fa-user"></i>
            <p><b>{{user}}</b></p>
            <span></span>
            <button class="links"  routerLink="/profile">Profile</button>
            <span></span>
            <button class="links" style="margin-bottom: 2vh;" (click)="logout()">Logout</button>

        </div>
    </div>


</body>