<body>
    
    <div class="left">
        <div class="menu-icon" (click)="openMenu()">
            <i class={{menu_icon}}></i>
        </div>
        <div class="mobile-menu" [class.mobile-menu-active]="menuValue">
            <ul>
                <li (click)="closeMenu()" routerLink="/home">Home</li>
                <!-- <li (click)="closeMenu()" routerLink="/about">About</li> -->
                <li (click)="closeMenu()" style="color: red; font-weight: bold; "routerLink="/report">Report a GBV</li>
                <li (click)="closeMenu()" routerLink="/genderdesk">GenderDesk</li>
                <li (click)="closeMenu()" routerLink="/genderclub">Appointments</li>
                <li (click)="closeMenu(); scrollToFooter()">Contact us</li>
                <li (click)="closeMenu()" routerLink="/login">Login</li>
                <li (click)="closeMenu()" routerLink="/signup">Signup</li>
            </ul>
        </div>
    </div>
    
    <div class="mid">
        <button class="links" routerLink="/home">Home</button>
        <!-- <button class="links" routerLink="/about">About</button> -->
        <button class="links" style="color: red; font-weight: bold;"routerLink="/report">Report a GBV</button>
        <button class="links" routerLink="/genderdesk">GenderDesk</button>
        <button class="links" routerLink="/genderclub">Appointments</button>
        <button class="links" (click)="scrollToFooter()">Contact us</button>
    </div>
    
    <div class="right">
        <button class="login" style="margin-right: 0.2vw;"
        routerLink="/login">Login</button>
        <button class="signup"
        style="background-color: #0F6CBF; color: white; margin-left: 0.2vw;"
        routerLink="/signup">Sign up</button>
    </div>


</body>