<body>
  <div *ngIf="isStudent || isConsultant" id="joinPage" class="main-bg">
    <div class="heading">
      <p>Start a Counselling Session</p>
    </div>
    <div class="form" name="myForm">
      <div class="two">
        <input
          name="meetingId"
          type="text"
          [placeholder]="meetingId || 'Enter Meeting ID'"
          [(ngModel)]="meetingId"
        />
        <button *ngIf="isStudent || isConsultant" (click)="joinMeeting()">
          Join a meeting
        </button>
      </div>
    </div>
  </div>
</body>
