/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
}


::-webkit-scrollbar {
    width: 0.5vw; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #d3bcff; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #635283; /* Color of the handle */
    border-radius: 6px; /* Rounded corners of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #362555; /* Color of the handle on hover */
}