<body>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  </head>
  <form [formGroup]="loginForm" (submit)="submit()">
    <!-- <form> -->
    <div class="card">
      <h2>Login to UniSafe</h2>

      <img src="../../assets/media/Unisafe-logo.png" alt="UniSafe logo" />

      <input type="text" placeholder="Email" formControlName="email"/>

      <div class="password-container">
        <input
          name="password"
          [type]="showPassword ? 'text' : 'password'"
          class="form-control pwd-control"
          placeholder="Password"
          formControlName = "password"
        />

        <i
          class="far fa-eye eye-show"
          (click)="togglePasswordVisibility()"
          [class.hide]="!showPassword"
        ></i>

        <i
          class="far fa-eye-slash eye-hide"
          (click)="togglePasswordVisibility()"
          [class.hide]="showPassword"
        ></i>
      </div>

      <a class="a" href="/forgot-password">Forgot password?</a>

      <button type="submit">Login</button>

      <p class="p2">Don't have an account?<a routerLink="/signup">Signup</a></p>
    </div>
  </form>
</body>
