<body>
    <head>
    </head>
    <form>
        <div class="card">
            <h2>Activate your account</h2>
            
            <img src="../../assets/media/Unisafe-logo.png" alt="UniSafe logo" />
            
            <p class="p1">Please enter the OTP that was sent to your email</p>

            <input type="text" required id="Email" placeholder="Email">
            <input type="text" required id="OTP" placeholder="OTP _ _ _ _ _ _">

            <button type="submit" routerLink="/login">Submit</button>
        </div>
    </form>
</body>