<body>
    <head>
    </head>
    <form [formGroup]="forgotForm" (submit)="submit()">  
        <div class="card">
            <h2>Forgot Password</h2>
            
            <img src="../../assets/media/Unisafe-logo.png" alt="UniSafe logo" />
            
            <p class="p1">Please enter the email used for registration</p>

            <input type="text" id="Email" placeholder="Email" formControlName="email">

            <button type="submit" >Send OTP</button>
        </div>
    </form>
</body>