<body>
  <div class="heading">
    <p>UniSafe Consultant Dashboard</p>
  </div>
  <div class="div1">
    <div class="left">
      <div class="one">
        <p>Physical Appointments</p>
      </div>
      <div class="two">
        <table>
          <tr>
            <td>TOTAL:</td>
            <td>
              <b>{{ physicalAppointments.length }}</b>
            </td>
          </tr>
          <tr>
            <td>HANDLED:</td>
            <td>
              <b>{{ handledPhysical }}</b>
            </td>
          </tr>
          <tr>
            <td>NOT HANDLED:</td>
            <td>
              <b>{{ notHandledPhysical }}</b>
            </td>
          </tr>
        </table>
      </div>
    </div>
  
    <div class="right">
      <div></div>
      <div class="one">
        <p>Online Reports</p>
      </div>
      <div class="two">
        <table>
          <tr>
            <td>TOTAL:</td>
            <td>
              <b>{{ onlineAppointments.length }}</b>
            </td>
          </tr>
          <tr>
            <td>HANDLED:</td>
            <td>
              <b>{{ handledOnline }}</b>
            </td>
          </tr>
          <tr>
            <td>NOT HANDLED:</td>
            <td>
              <b>{{ notHandledOnline }}</b>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="appointments">
    <div class="head">
      <h2>Appointments</h2>
      <span></span>
    </div>

    <div class="anoide">
      <div class="butns upper">
        <button
          class="appe"
          [class.active]="appointmentType === 'Physical'"
          (click)="switchAppointmentType('Physical')"
        >
          Physical
        </button>
        <button
          class="appe"
          [class.active]="appointmentType === 'Online'"
          (click)="switchAppointmentType('Online')"
        >
          Online
        </button>
        <label class="custom-checkbox">
          <input
            type="checkbox"
            [(ngModel)]="showAllAppointments"
            (change)="onAppointmentFilterChange()"
          />
          <span>Show Yours (Scheduled by you) / Show All Appointments</span>
        </label>
      </div>
    </div>

    <div class="reports">
      <div class="selection">
        <div class="butns">
          <button
            [class.active]="activeStatus === null"
            (click)="filterAppointments()"
            style="width: 7vw"
          >
            All Appointments
          </button>
          <button
            [class.active]="activeStatus === 'REQUESTED'"
            (click)="filterAppointments('REQUESTED')"
          >
            Requested
          </button>
          <button
            [class.active]="activeStatus === 'SCHEDULED'"
            (click)="filterAppointments('SCHEDULED')"
          >
            Scheduled
          </button>
          <button
            [class.active]="activeStatus === 'CLOSED'"
            (click)="filterAppointments('CLOSED')"
          >
            Closed
          </button>
          <button
            [class.active]="activeStatus === 'CANCELLED'"
            (click)="filterAppointments('CANCELLED')"
          >
            Cancelled
          </button>
          <button
            [class.active]="activeStatus === 'MISSED'"
            (click)="filterAppointments('MISSED')"
          >
            Missed
          </button>
        </div>
      </div>

      <div class="cardt" *ngIf="filteredAppointments.length > 0">
        <table>
          <thead>
            <tr>
              <th>Appointment ID</th>
              <th>Session Type</th>
              <th>Created On</th>
              <th>Status</th>
              <th>Assigned Consultant</th>
              <th>Scheduled On</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              (click)="showAppointment(appointment)"
              *ngFor="let appointment of getCurrentPageAppointments()"
            >
              <td>{{ appointment.appointment_id }}</td>
              <td>{{ appointment.session_type }}</td>
              <td>
                {{ appointment.created_on_date | date : "dd/MM/yyyy" }} |
                {{ appointment.created_on_date | date : "HH:mm" }}
              </td>
              <td>{{ appointment.status }}</td>
              <td>{{ appointment.consultant }}</td>
              <td>
                {{ appointment.date | date : "dd/MM/yyyy" }} |
                {{ appointment.start_time_date | date: "HH:mm" }}
              </td>
              <td class="actions">
                <button class="view" (click)="showAppointment(appointment)">
                  <i class="far fa-eye eye-show"></i>
                </button>
                <button
                  class="attend-meeting"
                  *ngIf="appointment.session_type === 'Online'"
                  (click)="attendOnline()"
                >
                  <i class="fas fa-video"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="cardt" *ngIf="filteredAppointments.length === 0">
        <p>No appointment found!.</p>
      </div>

      <div class="pagination-controls">
        <button
          class="prev"
          (click)="previousPage()"
          [disabled]="currentPage === 1"
        >
          Previous
        </button>

        <button
          class="num"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          (click)="goToPage(i + 1)"
          [class.active]="currentPage === i + 1"
        >
          {{ i + 1 }}
        </button>

        <button
          class="next"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
        >
          Next
        </button>
      </div>
    </div>
  </div>

  <div id="divappointments" *ngIf="isAppointmentVisible" tabindex="-1">
    <div id="theappointment">
      <div class="intro">
        <img src="../../assets/media/udsm logo.png" alt="udsm logo" />
        <p>UNIVERSITY OF DAR ES SALAAM</p>
      </div>
      <h2>APPOINTMENT DETAILS</h2>
      <span></span>
      <!-- General Information -->
      <div class="stage">
        <p>GENERAL INFORMATION:</p>
      </div>
      <div class="appointment-section">
        <table>
          <tr>
            <td class="label-cell"><strong>Appointment ID:</strong></td>
            <td>{{ selectedAppointment.appointment_id }}</td>
          </tr>
          <tr>
            <td class="label-cell"><strong>Created On:</strong></td>
            <td>{{ selectedAppointment.created_on | date : "medium" }}</td>
          </tr>
          <tr>
            <td class="label-cell"><strong>Status:</strong></td>
            <td>{{ selectedAppointment.status }}</td>
          </tr>
          <tr>
            <td class="label-cell"><strong>Session Type:</strong></td>
            <td>{{ selectedAppointment.session_type }}</td>
          </tr>
          <tr>
            <td class="label-cell"><strong>Requested Date:</strong></td>
            <td>{{ selectedAppointment.date | date : "mediumDate" }}</td>
          </tr>
        </table>
      </div>

      <!-- Student Information -->
      <div class="stage">
        <p>STUDENT INFORMATION:</p>
      </div>
      <div class="appointment-section">
        <table>
          <tr>
            <td class="label-cell"><strong>Full Name:</strong></td>
            <td>{{ selectedAppointment.student_full_name }}</td>
          </tr>
          <tr>
            <td class="label-cell"><strong>Email:</strong></td>
            <td>{{ selectedAppointment.student_email }}</td>
          </tr>
          <tr>
            <td class="label-cell"><strong>Phone:</strong></td>
            <td>{{ selectedAppointment.student_phone }}</td>
          </tr>
          <tr>
            <td class="label-cell"><strong>Registration No.:</strong></td>
            <td>{{ selectedAppointment.student_reg_no }}</td>
          </tr>
          <tr>
            <td class="label-cell"><strong>Gender:</strong></td>
            <td>{{ selectedAppointment.student_gender }}</td>
          </tr>
        </table>
      </div>

      <!-- Consultant Information -->
      <ng-container *ngIf="selectedAppointment.consultant">
        <div class="stage">
          <p>CONSULTANT INFORMATION:</p>
        </div>
        <div class="appointment-section">
          <table>
            <tr>
              <td class="label-cell"><strong>Phone:</strong></td>
              <td>{{ selectedAppointment.consultant_phone }}</td>
            </tr>
            <tr>
              <td class="label-cell"><strong>Office:</strong></td>
              <td>{{ selectedAppointment.consultant_office }}</td>
            </tr>
          </table>
        </div>
      </ng-container>
    </div>

    <!-- Actions -->
    <div class="appointment-actions">
      <button
        *ngIf="selectedAppointment.status === 'REQUESTED'"
        (click)="openAcceptDialog()"
      >
        Accept
      </button>
      <!-- <button
    *ngIf="selectedAppointment.status === 'REQUESTED'"
  >
    Accept
  </button> -->
      <button
        *ngIf="
          selectedAppointment.status === 'SCHEDULED' &&
          selectedAppointment.meetingId
        "
        (click)="attendOnline()"
      >
        join Online
      </button>
    </div>

    <div *ngIf="isAcceptDialogOpen" class="accept-dialog-overlay">
      <div class="accept-dialog">
        <label>Start Time</label>
        <input class="starttime" type="time" [(ngModel)]="startTime" required />

        <label>End Time</label>
        <input class="endtime" type="time" [(ngModel)]="endTime" required />

        <div *ngIf="selectedAppointment.session_type === 'Physical'">
          <label>Physical Location</label>
          <input
            class="location"
            type="text"
            [(ngModel)]="physicalLocation"
            required
          />
        </div>
        <button (click)="acceptAppointment()">Schedule</button>
        <button (click)="closeAcceptDialog()">Cancel</button>
      </div>
    </div>

    <button class="close" (click)="hideAppointment()">
      <i class="fas fa-times"></i>
    </button>
  </div>
</body>
