<body>
    <head>
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
      </head>
    <form [formGroup]="resetForm" (ngSubmit)="submit()">
        <div class="card">
            <h2>Reset Password</h2>
            
            <img src="../../assets/media/Unisafe-logo.png" alt="UniSafe logo" />
            
            <p class="p1">Please enter your email, OTP and new password</p>

            <input type="text" required id="Email" placeholder="Email" formControlName="email">
            <input type="text" required id="OTP" placeholder="OTP _ _ _ _ _ _" formControlName="otp">
            <!-- <input type="text" required id="Password" placeholder="New password" formControlName="new_password"> -->
            <div class="password-container">
                <input 
                  name="new_password"
                  [type]="showPassword ? 'text' : 'new_password'"
                  placeholder="New password"
                  formControlName="new_password"
                  required
                />
                
                <i
                  class="far fa-eye eye-show"
                  (click)="togglePasswordVisibility()"
                  [class.hide]="!showPassword"
                ></i>
          
                <i
                  class="far fa-eye-slash eye-hide"
                  (click)="togglePasswordVisibility()"
                  [class.hide]="showPassword"
                ></i>
              </div> 
            <!-- <p class="p2"><a routerLink="/resend-otp">Resend OTP code</a></p> -->
            <div class="conditions" *ngIf="passwordFormField?.dirty">
                <span class="block" *ngIf="passwordFormField?.value && !passwordFormField?.value.match('^(?=.*[A-Z])')">• At least one uppercase letter.</span>
                <span class="block" *ngIf="passwordFormField?.value && !passwordFormField?.value.match('(?=.*[a-z])')">• At least one lowercase letter.</span>
                <span class="block" *ngIf="passwordFormField?.value && !passwordFormField?.value.match('(.*[0-9].*)')">• At least one digit.</span>
                <span class="block" *ngIf="passwordFormField?.value && !passwordFormField?.value.match('(?=.*[!@#$%^&*])')">• At least one special character.</span>
                <span class="block" *ngIf="passwordFormField?.value && !passwordFormField?.value.match('.{8,}')">• At least 8 characters long.</span>
              </div>

            <button type="submit">Reset</button>
        </div>
    </form>
</body>
