<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-3qmMVcNkx5Hezuk4YecfKrPm6dA+zArWhZMunGmG6jQgxYDLz7alccxcHS1nK1n+X9D21WL30VgYGewW9bPI9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <form [formGroup]="reportForm" (ngSubmit)="onSubmit" *ngIf="authenticated">

        <div class="head">
            <h2>Report a GBV</h2>
        </div>


        <div class="main">
            <h3>1. Victim's details</h3>

                <div class="who">
                    <p>Who are you reporting for:*</p>
                    <div class="labels">
                        <input type="radio" name="reportfor" required id="option1" value="self" (change)="onReportingForChange('self')" />
                        <label for="option1">Yourself</label>
                        <br>
                        <input type="radio" name="reportfor" required id="option2" value="else" (change)="onReportingForChange('else')" />
                        <label for="option2">Someone Else</label>
                    </div>
                </div>

                <div class="fill" *ngIf="reportingFor === 'else'">
                    <input  type="text" required id="" placeholder="Full name*" formControlName="fullname"/>
                    <div class="div">
                        <select id="gender" formControlName="gender" [ngModel]="pgender">
                        <option value="0">Gender*</option>
                        <option value="1">Female</option>
                        <option value="2">Male</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div class="div">
                        <select formControlName="college">
                        <option disabled selected value="">College / School*</option>
                        <option *ngFor="let college of colleges" [value]="college">{{college}}</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <input  type="text" required id="" placeholder="Registration Number*" formControlName="registrationNumber"/>
                    <input  type="text" required id="" placeholder="Email*" formControlName="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
                    <input  type="text" required id="" placeholder="Phone number*" formControlName="phoneNumber" pattern="^\+255\d{9}$"/>
                </div>


            <h3>2. Description of the Abuse</h3>

                <div class="fill">
                    <div class="div">
                        <select id="abusetype" formControlName="abusetype" >
                        <option value="0">Abuse Type*</option>
                        <option value="1">Physical Violence</option>
                        <option value="2">Sexual Violence</option>
                        <option value="3">Psychological Violence</option>
                        <option value="4">Cyber Violence</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="div">
                        <p class="datetimep">Date and Time*:</p>
                        <input class="date" type="datetime-local" required id=""  formControlName="datetime"/>
                    </div>

                    <div class="div">
                        <select formControlName="loa" (change)="onLocationChange($event)">
                          <option *ngFor="let location of locations" [value]="location">{{location}}</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div class="other">
                    <p>If the location is Other, please type the location below:</p>
                    <input type="text" id="" placeholder="" formControlName="other"/>
                    </div>

                    <div class="descr">
                        <textarea  placeholder="Breifly describe what happened *"></textarea>
                    </div>

                    <div class="eviden">
                        <p>Evidence (if any):</p>
                        <div>
                            <input type="file" id="evidence" name="evidence" multiple>
                        </div>
                    </div>
                </div>

            <h3>3. Perpetrator details</h3>

                <div class="fill">
                    <input  type="text" id="" placeholder="Full name*" formControlName="Perpetrator"/>
                    <div class="div">
                        <select id="pgender" formControlName="pgender" [ngModel]="pgender">
                        <option value="0">Gender*</option>
                        <option value="1">Female</option>
                        <option value="2">Male</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="descrel">
                        <textarea  placeholder="Describe your relationship with  the Perpetrator *"></textarea>
                    </div>
                </div>

            <h3>4. Counselling services</h3>

            <div class="couns">
                <p>Are you in demand of counseling services from the UDSM Counseling Unit?</p>

                <div class="labels">
                    <input type="radio" name="counselling" required id="" value="" />
                    <label for="option1">Yes</label>
                    <br>
                    <input type="radio" name="counselling" required id="" value="" />
                    <label for="option2">No</label>
                </div>
            </div>

            <button type="submit" routerLink="/report">Submit</button>

        </div>
    </form>

    <form [formGroup]="reportForm" (ngSubmit)="onSubmit" *ngIf="!authenticated" >

        <div class="head">
            <h2>Report a GBV</h2>
        </div>

        <div style="background-color: none; width: 60%; display: flex;
        flex-direction: column; justify-content: center;">


            <h3>1. Description of the Abuse</h3>

                <div class="fill">
                    <div class="div">
                        <select id="abusetype" formControlName="abusetype" >
                        <option value="0">Abuse Type*</option>
                        <option value="1">Physical Violence</option>
                        <option value="2">Sexual Violence</option>
                        <option value="3">Psychological Violence</option>
                        <option value="4">Cyber Violence</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="div">
                        <p class="datetimep">Date and Time*:</p>
                        <input class="date" type="datetime-local" required id=""  formControlName="datetime"/>
                    </div>

                    <div class="div">
                        <select formControlName="loa" (change)="onLocationChange($event)">
                          <option *ngFor="let location of locations" [value]="location">{{location}}</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div class="other">
                    <p>If the location is Other, please type the location below:</p>
                    <input type="text" id="" placeholder="" formControlName="other"/>
                    </div>

                    <div class="descr">
                        <textarea  placeholder="Breifly describe what happened *"></textarea>
                    </div>

                    <div class="eviden">
                        <p>Evidence (if any):</p>
                        <div>
                            <input type="file" id="evidence" name="evidence" multiple>
                        </div>
                    </div>
                </div>

            <h3>2. Perpetrator details</h3>

                <div class="fill">
                    <input  type="text" id="" placeholder="Full name" formControlName="Perpetrator"/>
                    <div class="div">
                        <select id="pgender" formControlName="pgender" [ngModel]="pgender">
                        <option value="0">Gender*</option>
                        <option value="1">Female</option>
                        <option value="2">Male</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="descrel">
                        <textarea  placeholder="Describe your relationship with  the Perpetrator *"></textarea>
                    </div>
                </div>

            <!-- <h3>4. Counselling services</h3>

            <div class="couns">
                <p>Are you in demand of counseling services from the UDSM Counseling Unit?</p>

                <div class="labels">
                    <input type="radio" name="counselling" required id="" value="" />
                    <label for="option1">Yes</label>
                    <br>
                    <input type="radio" name="counselling" required id="" value="" />
                    <label for="option2">No</label>
                </div>
            </div> -->

            <button type="submit" routerLink="/report">Submit</button>

        </div>
    </form>

    
</body>
